*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}


main{
    width: 100vw;
    
}

.header{
    width: 100%;
    height: 10vh;
    background-color: black;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}



.titulo_1{
    width: 33%;
    height: 100%;
    /* border: 4px solid white;
    background-color: white; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    
}
a{
    text-decoration: none;
}
.titulo_2{
    width: 33%;
    height: 100%;
    /* border: 4px solid white;
    background-color: white; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
     
}
.titulo_3{
    width: 33%;
    height: 100%;
    /* border: 4px solid white;
    background-color: white; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.imagenes{
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
}
.imagenes img {
    width: 33.3%;
}

/* .imagen_1{
    width: 33.33%;
    height: 50%;
    border: 4px solid black;
}
.imagen_2{
    width: 33.33%;
    height: 50%;
    border: 4px solid black;
}
.imagen_3{
    width: 33.33%;
    height: 50%;
    border: 4px solid black;
}
.imagen_4{
    width: 33.33%;
    height: 50%;
    border: 4px solid black;
}
.imagen_5{
    width: 33.33%;
    height: 50%;
    border: 4px solid black;
}
.imagen_6{
    width: 33.33%;
    height: 50%;
    border: 4px solid black;
} */
